<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>OpenThreads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>osg core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>osg plugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>osgAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>osgDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>osgFX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>osgGA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>osgIPhoneViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>osgManipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>osgParticle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>osgPresentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>osgShadow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>osgSim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>osgTerrain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>osgText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>osgUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>osgViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>osgVolume.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>osgWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>osgdb_freetype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>osgdb_imageio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>osgdb_ive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>osgdb_obj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>osgdb_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>simpleExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>view_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9014B49510C3631F00947117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9014B4F110C3647200947117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9014C45710C3663900947117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9014C4CE10C3680F00947117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9014C53010C3694300947117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9014C5AE10C36FD100947117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90341F3210B7B34E0082188B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8D2A10B8FAE70089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8D3910B8FCED0089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8D8E10B8FE690089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8DC710B9000C0089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8E4A10B901570089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8EAE10B904200089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D8F5410B9073F0089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906D909D10B914270089D3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>908EC61A10B5F8FF0024EAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>908EC85E10B78AFD0024EAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90AF62E010C325CF0041F6A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90AF63D710C33FA20041F6A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B90BD310B37B5100E10618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B90C5B10B383F800E10618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B90E0D10B3A08D00E10618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90EEDE7210B9F4F1007F0292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D489B59A1371D22C0008758E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D20A3D1172224E0026B2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4D20A651172226F0026B2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FC8E1212F17D2B00E433A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
