
application ICON "wxsgv.ico"
#include "wx/msw/wx.rc"

icon1   ICON "icons/camera.ico"
icon2   ICON "icons/engine.ico"
icon3   ICON "icons/geom.ico"
icon4   ICON "icons/group.ico"
icon5   ICON "icons/light.ico"
icon6   ICON "icons/lod.ico"
icon7   ICON "icons/mesh.ico"
icon8   ICON "icons/top.ico"
icon9   ICON "icons/unknown.ico"
icon10  ICON "icons/xform.ico"
